<app-top></app-top>
<div class="sticker mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 pr-0 d-none-sm">
                <div class="collapse-menu style-2 mt-0">
                    <ul>
                        <li><a [routerLink]="['/categories']" class="vm-menu"><span>All
                                    Categories</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 pl-0">
                <div class="slider-top">
                    <div class="row align-items-center">
                        <div class="col-xl-9">
                            <div class="mainmenu style-2">
                                <nav>
                                    <ul>
                                        <li><a [routerLink]="['/']">Home</a></li>
                                        <li><a [routerLink]="['/market']">Market</a></li>
                                        <li><a [routerLink]="['/shops']">Shops</a></li>
                                        <li><a [routerLink]="['/about']">About Us</a></li>
                                        <li><a [routerLink]="['/contact']">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 d-lg-none d-xl-block">
                            <div class="social-icons style-3 pull-right">
                                <a href="https://web.facebook.com/herb.ngnigeria"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/herb.ngNg"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/herb.ngnigeria/"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--mainmenu-area end-->
