<div class="products-list mt-30">
    <div class="section-title mb-30">
        <h3>Latest Items</h3>
    </div>
    <div class="one-carousel dots-none">
        <ng-container *ngIf="latestItems!=null">
            <div class="list-content">
                <ul class="list-none">
                    <li *ngFor="let product of latestItems">
                        <div class="product-single style-2">
                            <div class="row align-items-center m-0">
                                <div class="col-lg-4 p-0">
                                    <div class="product-thumb">
                                        <a [routerLink]="['/product',product.id]"><img  (error)="setDefault($event)"   src="https://shopExpress.s3.amazonaws.com/pictures/{{product.thumbnail}}" alt="" /></a>
                                    </div>
                                </div>
                                <div class="col-lg-8 p-0">
                                    <div class="product-title">
                                        <h4><a [routerLink]="['/product',product.id]">{{product.name | excerpt:31}}</a></h4>
                                    </div>
                                    <div class="product-price-rating" *ngIf="product.price>0">
                                        <span>&#8358;{{app.toMoney(product.price)}}</span>
                                        <del>{{app.toMoney((product.price*100)/80)}}</del>
                                    </div>
                                    <div class="product-price-rating" *ngIf="product.price<=0">
                                        <span>Free</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-container>
        <ng-container *ngIf="isLoading">
            <app-loader></app-loader>
        </ng-container>
        <ng-container *ngIf="latestItems==null && !isLoading">
            <div class="error-message">
                No Product Found
            </div>
        </ng-container>
        <div>
        </div>
    </div>
</div>
