<app-header-inner></app-header-inner>
<!--about-area start-->
<div class="about-area mt-50">
  <div class="container">
    <div class="row">
      <h2 class="tile p-5">Frequently Asked Questions</h2>
      <div class="col-lg-12 mt-sm-30">
        <div id="accordion">


          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingTwo">
              <h5 class="mb-0">
                <a href="#collapse1" class="btn btn-link" data-toggle="collapse" data-target="#collapse1"
                  aria-expanded="false" aria-controls="collapse1">
                  <span class="faq-title">How quickly can I get my order?</span>
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>When you order any item on shopExpress, it is meant to be delivered to your address same day to 2 days max, and if
                you are far from the product location
                or the product is in a different country like China or the USA. The
                product is
                delivered to your address in 7 to 12 days, Max.
                </p>
              </div>
            </div>
          </div>


          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingTwo">
              <h5 class="mb-0">
                <a href="#collapse2" class="btn btn-link" data-toggle="collapse" data-target="#collapse2"
                  aria-expanded="false" aria-controls="collapse2">
                  <span class="faq-title">How to get a discount on shopExpress?</span>
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>
            <div id="collapse2" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>
                  When you find what you want to buy on shopExpress, call/SMS the customer care line and ask for a discount,
                  they will
                  ask you to order with cash on delivery and provide the order reference Id, and then they apply the
                  discount when they deliver the product to your
                  address.
                </p>
              </div>
            </div>
          </div>



          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingTwo">
              <h5 class="mb-0">
                <a href="#collapse3" class="btn btn-link" data-toggle="collapse" data-target="#collapse3"
                  aria-expanded="false" aria-controls="collapse3">
                  <span class="faq-title">How to buy Product on shopExpress?</span>
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>
            <div id="collapse3" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Find the product you want on shopExpress App</li>
                  <li>Click "<strong>Add to Cart</strong>" button near the product</li>
                  <li>At the top right corner, you will see total amount of the iteam</li>
                  <li>Click on the amount you see at the top right, it will take you to your cart</li>
                  <li>Click on <strong>Checkout</strong> button at the bottom of the cart page</li>
                  <li>Fill the form shown in the Checkout page, and select payment method, and click order button</li>
                  <li>You will get an SMS with your order details and you will be called to confirm your order</li>
                </ul>

              </div>
            </div>
          </div>




          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingTwo">
              <h5 class="mb-0">
                <a href="#collapse4" class="btn btn-link" data-toggle="collapse" data-target="#collapse4"
                  aria-expanded="false" aria-controls="collapse4">
                  <span class="faq-title">Does shopExpress offer free products?</span>
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>
            <div id="collapse4" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Yes, We provide free products to our customers, but we don't showcase the free product to customers directly,
                  customers find it on the site, you can see free product anywhere on our app. But we don't mention where it is exactly.
                </p>
              </div>
            </div>
          </div>


          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingTwo">
              <h5 class="mb-0">
                <a href="#collapse5" class="btn btn-link" data-toggle="collapse" data-target="#collapse5"
                  aria-expanded="false" aria-controls="collapse5">
                  <span class="faq-title">Do i need to pay delivery fee for a Free Product?</span>
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>
            <div id="collapse5" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>
                  It depends, on some free products, you will be required to pay a delivery fee, and no delivery fee
                  charged
                  for some of the products on shopExpress.</p>
                <ul>
                  <li>No delivery charge for a free product with 1 to 5kg size</li>
                  <li>Delivery fee is charged when product is higher than 5kg in size</li>
                </ul>

              </div>
            </div>
          </div>




          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingTwo">
              <h5 class="mb-0">
                <a href="#collapse6" class="btn btn-link" data-toggle="collapse" data-target="#collapse6"
                  aria-expanded="false" aria-controls="collapse6">
                  <span class="faq-title">How do I cancel my order?</span>
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>
            <div id="collapse6" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>
                  To cancel your order on shopExpress is to Call, Chat or send an SMS to the shopExpress customer care line that you want to cancel
                  the order, we will ask you for the order reference number. And your order will be
                  canceled without any extra charges.
                </p>
              </div>
            </div>
          </div>




          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingTwo">
              <h5 class="mb-0">
                <a href="#collapse7" class="btn btn-link" data-toggle="collapse" data-target="#collapse7"
                  aria-expanded="false" aria-controls="collapse7">
                  <span class="faq-title">Why is my account suspended?</span>
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>
            <div id="collapse7" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>
                  If you see your ‘account is inactive or suspended’ when you try logging, it is either your account is newly registered
                  and not yet approved, or you violated a rule that caused the site administrators to suspend your account. If you are
                  convinced you were wrongly suspended or blocked, kindly let us know via the Contact Us page with the details of your
                  account for review. We apologize for any convenience this might have caused you.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--about-area end-->
<app-footer></app-footer>
