<app-header-inner></app-header-inner>
<div class="product-details-area mt-20">
    <div class="container">
        <!--container-fluid-->
        <div class="product-details">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar">
                        <app-latest-items></app-latest-items>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="tab-content">
                        <div class="section-title">
                            <h3>Terms and conditions</h3>
                        </div>
                        <div class="container">
                            <ul>
                                <h3>1. Introduction</h3>
                                <p>1.1 These terms and conditions shall govern your use of our platform.</p>
                                <p>1.2 By using our services, you accept these terms and conditions in full;
                                    accordingly, if you disagree with
                                    these terms and conditions or any part of these terms and conditions, you must not
                                    use our service.</p>
                                <p>1.3 If you register with our shopping platform or upload anything, we will ask you to
                                    expressly agree to
                                    these terms and conditions.</p>
                                <p>1.4 Age is not a barrier to marketing. Hence, as long as one has the right to
                                    consent, with the law taking
                                    into consideration, these terms and conditions, apply.</p>
                                <p>1.5 Our platform uses cookies; by using our platform or agreeing to these terms and
                                    conditions, you consent
                                    to our use of cookies following the terms of our [privacy and cookies policy].</p>
                                <h3>3. Copyright notice</h3>
                                <p>3.1 Copyright (c) [year(s) of first publication] [full name].</p>
                                <p>3.2 Subject to the express provisions of these terms and conditions:</p>
                                <p>(a) we, together with our licensors, own and control all the copyright and other
                                    intellectual property rights
                                    in our platform and the material on our platform; and</p>
                                <p>(b) all the copyright and other intellectual property rights in our platform and the
                                    material on our platform
                                    are reserved.</p>
                                <h3>4. Licence to use platform</h3>
                                <h5>4.1 You may:</h5>
                                <p>(a) register as a seller and sell your products on our platform;<br />
                                    (b) register as a buyer and make purchases via our platform;</p>
                                <p>subject to the other provisions of these terms and conditions.</p>
                                <li>4.2 Except as expressly permitted by Section 4.1 or the other provisions of these
                                    terms and conditions, you must
                                    not download any material from our platform or save any such material to your
                                    computer.</li>
                                <li>4.3 You may only use our platform for [your personal and business purposes], and you
                                    must not use our platform
                                    for any other purposes.</li>
                                <li>4.4 Except as expressly permitted by these terms and conditions, you must not edit
                                    or otherwise modify any
                                    material on our platform.</li>
                                <li>4.5 Unless you own or control the relevant rights in the material, you must not:
                                    <ul>
                                        <li>(a) republish material from our platform (including republication on another
                                            platform);</li>
                                        <li>(b) sell, rent or sub-license material from our platform;</li>
                                    </ul>
                                </li>
                                <li>4.6 We reserve the right to restrict access to areas of our platform, or indeed our
                                    whole platform, at our
                                    discretion; you must not circumvent or bypass, or attempt to circumvent or bypass,
                                    any access restriction
                                    measures on our platform.</li>
                                <h4>5. Acceptable use</h4>
                                <li>5.1 You must not:
                                    <ul>
                                        <li>(a) use our platform in any way or take any action that causes, or may
                                            cause, damage to the Platform or
                                            impairment of the performance, availability or accessibility of the
                                            platform;</li>
                                        <li>(b) use our platform in any way that is unlawful, illegal, fraudulent or
                                            harmful, or in connection with any
                                            unlawful, illegal, fraudulent or harmful purpose or activity;</li>
                                        <li>(c) use our platform to copy, store, host, transmit, send, use, publish or
                                            distribute any material which
                                            consists of (or is linked to) any spyware, computer virus, Trojan horse,
                                            worm, keystroke logger, rootkit or
                                            other malicious computer software;</li>
                                        <li>(d) [conduct any systematic or automated data collection activities
                                            (including without limitation scraping, data
                                            mining, data extraction and data harvesting) on or about our platform
                                            without our express written consent];</li>
                                        <li>(e) [access or otherwise interact with our platform using any robot, spider
                                            or other automated means[, except
                                            for [search engine indexing]]];</li>
                                        <li>(f) [use data collected from our platform for any direct marketing activity
                                            (including without limitation email
                                            marketing, SMS marketing, telemarketing and direct mailing)].</li>
                                    </ul>
                                </li>
                                <li>5.2 You must not use data collected from our platform to contact individuals,
                                    companies or other persons or
                                    entities.</li>
                                <li>5.3 You must ensure that all the information you supply to us through our platform
                                    or concerning our platform,
                                    is [true, accurate, current, complete and non-misleading].</li>
                                <h4>6. Registration and accounts</h4>
                                <li> 6.1 To be eligible for [an account] on our platform under this Section 6, you must
                                    [be resident or situated in
                                    Nigeria].</li>
                                <li>6.2 You may register for an account with our platform by [completing and submitting
                                    the account registration
                                    form on our platform, and clicking on the verification link in the email that the
                                    platform will send to you].</li>
                                <li>6.3 You must not allow any other person to use your account to access the platform.
                                </li>
                                <li>6.4 You must notify us in writing (via email or any other means of communication)
                                    immediately if you become
                                    aware of any unauthorised use of your account.</li>
                                <li>6.5 You must not use any other person's account to access the platform [unless you
                                    have that person's express
                                    permission to do so].</li>
                                <h4>7. User login details</h4>
                                <li>7.1 If you register for an account with our platform, [we will provide you with] OR
                                    [you will be asked to
                                    choose] [a user ID and password].</li>
                                <li>7.2 Your user ID must not be liable to mislead and must comply with the content
                                    rules set out in Section 10; you
                                    must not use your account or user ID for or in connection with the impersonation of
                                    any person.</li>
                                <li>7.3 You must keep your password confidential.</li>
                                <li>7.4 You must notify us in writing immediately if you become aware of any disclosure
                                    of your password.
                                </li>
                                <li>7.5 You are responsible for any activity on our platform arising out of any failure
                                    to keep your password
                                    confidential and may be held liable for any losses arising out of such a failure.
                                </li>
                                <h4>8. Cancellation and suspension of account</h4>
                                <li>8.1 We may:
                                    <ol type="alphabet">
                                        <li> [suspend your account];</li>
                                        <li> [cancel your account]; and/or</li>
                                        <li> [edit your account details],
                                            at any time in our sole discretion without notice or explanation.</li>
                                    </ol>
                                </li>
                                <li>8.2 You may cancel your account on our platform [using your account control panel on
                                    the platform].</li>
                                <h4>9. Your content: licence</h4>
                                <li> 9.1 In these terms and conditions, "your content" means [all works and materials
                                    (including without limitation
                                    text, graphics, images, audio material, video material, audio-visual material,
                                    scripts, software and files) that
                                    you submit to us or our platform for storage or publication on, processing by, or
                                    transmission via, our
                                    platform].</li>
                                <li>9.2 You grant to us a [worldwide, irrevocable, non-exclusive, royalty-free licence]
                                    to [use, reproduce, store,
                                    adapt, publish, translate and distribute your content in any existing or future
                                    media] OR [reproduce, store and
                                    publish your content on and concerning this platform and any successor platform] OR
                                    [reproduce, store and, with
                                    your specific consent, publish your content on and related to this platform].</li>
                                <li>9.3 You grant to us the right to sub-license the rights licensed under Section 9.2.
                                </li>
                                <li>9.4 You grant to us the right to bring an action for infringement of the rights
                                    licensed under Section 9.2.
                                </li>
                                <li>9.5 You hereby waive all your moral rights in your content to the maximum extent
                                    permitted by applicable law,
                                    and you warrant and represent that all other moral rights in your content have been
                                    waived to the maximum extent
                                    permitted by applicable law.</li>
                                <li>9.6 You may edit your content to the extent permitted using the editing
                                    functionality made available on our
                                    platform.</li>
                                <li> 9.7 Without prejudice to our other rights under these terms and conditions, if you
                                    breach any provision of these
                                    terms and conditions in any way, or if we reasonably suspect that you have breached
                                    these terms and conditions
                                    in any way, we may delete, unpublish or edit any or all of your content.</li>
                                <h4>10. Your content: rules</h4>
                                <li>10.1 You warrant and represent that your content will comply with these terms and
                                    conditions.</li>
                                <li>10.2 Your content must not be illegal or unlawful, must not infringe any person's
                                    legal rights, and must not be
                                    capable of giving rise to legal action against any person (in each case in any
                                    jurisdiction and under any
                                    applicable law).</li>
                                <li>10.3 Your content, and the use of your content by us according to these terms and
                                    conditions, must not:
                                </li>
                                <ol>
                                    <li> be libellous or maliciously false;</li>
                                    <li> be obscene or indecent;</li>
                                    <li>infringe any copyright, moral right, database right, trade mark right, design
                                        right, right in passing off,
                                        or other intellectual property rights;</li>
                                    <li>infringe any right of confidence, right of privacy or right under data
                                        protection legislation;</li>
                                    <li>constitute negligent advice or contain any negligent statement;</li>
                                    <li>constitute an incitement to commit a crime[, instructions for the commission of
                                        a crime or the promotion of
                                        criminal activity];</li>
                                    <li>be in contempt of any court, or breach of any court order;</li>
                                    <li>be in breach of racial or religious hatred or discrimination legislation;</li>
                                    <li>be blasphemous;</li>
                                    <li>be in breach of official secrets legislation;</li>
                                    <li>be in breach of any contractual obligation owed to any person;</li>
                                    <li> [depict vilience[ in an explicit, graphic or gratuitous manner]];</li>
                                    <li> [be pornographic[, lewd, suggestive or sexually explicit]];</li>
                                    <li> [be untrue, false, inaccurate or misleading];</li>
                                    <li>[consist of or contain any instructions, advice or other information which may
                                        be acted upon and could, if
                                        acted upon, cause illness, injury or death, or any other loss or damage];</li>
                                    <li>[constitute spam];</li>
                                    <li>[be offensive, deceptive, fraudulent, threatening, abusive, harassing,
                                        anti-social, menacing, hateful,
                                        discriminatory or inflammatory]; or</li>
                                    <li>[cause annoyance, inconvenience or needless anxiety to any person].</li>
                                </ol>

                                <h4>11. Limited warranties</h4>
                                <li>11.1 We do not warrant or represent:</li>
                                <li>
                                    <ol>
                                        <li>the completeness or accuracy of the information published on our platform;
                                        </li>
                                        <li> that the material on the platform is up to date; or</li>
                                        <li>that the platform or any service on the platform will remain available.</li>
                                    </ol>
                                </li>
                                <li>11.2 We reserve the right to discontinue or alter any or all of our platform
                                    services, and to stop publishing
                                    our platform, at any time in our sole discretion without notice or explanation; and
                                    save to the extent expressly
                                    provided otherwise in these terms and conditions, you will not be entitled to any
                                    compensation or other payment
                                    upon the discontinuance or alteration of any platform services, or if we stop
                                    publishing the platform.
                                </li>
                                <li>11.3 To the maximum extent permitted by applicable law and subject to Section 12.1,
                                    we exclude all
                                    representations and warranties relating to the subject matter of these terms and
                                    conditions, our platform and
                                    the use of our platform.</li>
                                <h4> 12. Limitations and exclusions of liability</h4>
                                <li>12.1 Nothing in these terms and conditions will:</li>
                                <ol>
                                    <li> limit or exclude any liability for death or personal injury resulting from
                                        negligence;</li>
                                    <li> limit or exclude any liability for fraud or fraudulent misrepresentation;</li>
                                    <li>limit any liabilities in any way that is not permitted under applicable law; or
                                    </li>
                                    <li>exclude any liabilities that may not be excluded under applicable law.</li>
                                </ol>
                                <li>12.2 The limitations and exclusions of liability set out in this Section 12 and
                                    elsewhere in these terms and
                                    conditions:</li>
                                <ol>
                                    <li>are subject to Section 12.1; and</li>
                                    <li>govern all liabilities arising under these terms and conditions or relating to
                                        the subject matter of these
                                        terms and conditions, including liabilities arising in contract, in tort
                                        (including negligence) and for breach
                                        of statutory duty, except to the extent expressly provided otherwise in these
                                        terms and conditions.</li>
                                </ol>
                                <li>12.3 To the extent that our platform and the information and services on our
                                    platform are provided free of
                                    charge, we will not be liable for any loss or damage of any nature.</li>
                                <li>12.4 We will not be liable to you in respect of any losses arising out of any event
                                    or events beyond our
                                    reasonable control.</li>
                                <li>12.5 We will not be liable to you in respect of any business losses, including
                                    (without limitation) loss of or
                                    damage to profits, income, revenue, use, production, anticipated savings, business,
                                    contracts, commercial
                                    opportunities or goodwill.</li>
                                <li>12.6 We will not be liable to you in respect of any loss or corruption of any data,
                                    database or software.
                                </li>
                                <li>12.7 We will not be liable to you in respect of any special, indirect or
                                    consequential loss or damage.
                                </li>
                                <li>12.8 You accept that we have an interest in limiting the personal liability of our
                                    officers and employees and,
                                    having regard to that interest, you acknowledge that we are a limited liability
                                    entity; you agree that you will
                                    not bring any claim personally against our officers or employees in respect of any
                                    losses you suffer in
                                    connection with the platform or these terms and conditions (this will not, of
                                    course, limit or exclude the
                                    liability of the limited liability entity itself for the acts and omissions of our
                                    officers and employees).
                                </li>
                                <h4>13. Breaches of these terms and conditions</h4>
                                <li>13.1 Without prejudice to our other rights under these terms and conditions, if you
                                    breach these terms and
                                    conditions in any way, or if we reasonably suspect that you have breached these
                                    terms and conditions in any way,
                                    we may:</li>
                                <ol>
                                    <li>send you one or more formal warnings;</li>
                                    <li>temporarily suspend your access to our platform;</li>
                                    <li>permanently prohibit you from accessing our platform;</li>
                                    <li>[block computers using your IP address from accessing our platform];</li>
                                    <li>[contact any or all of your internet service providers and request that they
                                        block your access to our
                                        platform];</li>
                                    <li>commence legal action against you, whether for breach of contract or otherwise;
                                        and/or</li>
                                    <li>[suspend or delete your account on our platform].</li>
                                </ol>
                                <li>13.2 Where we suspend or prohibit or block your access to our platform or a part of
                                    our platform, you must not
                                    take any action to circumvent such suspension or prohibition or blocking[ (including
                                    without limitation
                                    [creating and/or using a different account])].</li>
                                <h4>14. Variation</h4>
                                <li>14.1 We may revise these terms and conditions from time to time.</li>
                                <li>14.2 [The revised terms and conditions shall apply to the use of our platform from
                                    the date of publication of
                                    the revised terms and conditions on the platform, and you hereby waive any right you
                                    may otherwise have to be
                                    notified of, or to consent to, revisions of these terms and conditions.] OR [We will
                                    give you written notice of
                                    any revision of these terms and conditions, and the revised terms and conditions
                                    will apply to the use of our
                                    platform from the date that we give you such notice; if you do not agree to the
                                    revised terms and conditions,
                                    you must stop using our platform.]</li>
                                <li>14.3 If you have given your express agreement to these terms and conditions, we will
                                    ask for your express
                                    agreement to any revision of these terms and conditions; and if you do not give your
                                    express agreement to the
                                    revised terms and conditions within such period as we may specify, we will disable
                                    or delete your account on the
                                    platform, and you must stop using the platform.</li>
                                <h4>15. Assignment</h4>
                                <li>15.1 You hereby agree that we may assign, transfer, sub-contract or otherwise deal
                                    with our rights and/or
                                    obligations under these terms and conditions.</li>
                                <li>15.2 You may not without our prior written consent assign, transfer, sub-contract or
                                    otherwise deal with any of
                                    your rights and/or obligations under these terms and conditions.</li>
                                <h4>16. Severability</h4>
                                <li>16.1 If a provision of these terms and conditions is determined by any court or
                                    other competent authority to be
                                    unlawful and/or unenforceable, the other provisions will continue in effect.</li>
                                <li>16.2 If any unlawful and/or unenforceable provision of these terms and conditions
                                    would be lawful or enforceable
                                    if part of it were deleted, that part will be deemed to be deleted, and the rest of
                                    the provision will continue
                                    in effect.</li>
                                <h4>17. Third party rights</h4>
                                <li>17.1 A contract under these terms and conditions is for our and your benefit and is
                                    not intended to benefit or
                                    be enforceable by any third party.</li>
                                <li>17.2 The exercise of the third-party’s rights under a contract under these terms and
                                    conditions is not subject
                                    to the consent of any third party.</li>
                                <li>17.3 We may access your whereabouts on the internet to present you with services
                                    optimized to your liking.
                                </li>
                                <h4>18. Entire agreement</h4>
                                <li>18.1 Subject to Section 12.1, these terms and conditions[, together with [our
                                    privacy and cookies policy],]
                                    shall constitute the entire agreement between you and us concerning your use of our
                                    platform and shall supersede
                                    all previous agreements between you and us about your use of our platform.</li>
                                <h4>19. Law and jurisdiction</h4>
                                <li>19.1 These terms and conditions shall be governed by and construed according to
                                    Nigerian law.</li>
                                <li>19.2 Any disputes relating to these terms and conditions shall be subject to the
                                    [exclusive] OR [non-exclusive]
                                    jurisdiction of the courts of Nigeria.</li>
                                <h4> 20. Statutory and regulatory disclosures</h4>
                                <li>20.1 We are registered as herb.ng NG with the Corporate Affairs Commission (CAC),
                                    which is subject to Nigerian
                                    law.</li>
                                <h4>21. Our details</h4>
                                <li>21.1 This platform is owned and operated by <a href="www.syrol.org">Syrol Technologies Ltd</a></li>
                                <li>21.2 We are registered in Nigeria under registration number <strong>RC1684989</strong> and our
                                    registered office is at NO.26
                                    Nation Palaza, Audu Bako Way, Nasarawa GRA Kano.</li>
                                <li>21.3 Our principal place of business is at NO.26 Nation Palaza, Audu Bako Way,
                                    Nasarawa GRA Kano.</li>
                                <li>21.4 You can contact us:</li>
                                <ol>
                                    <li>[by post, to [the postal address given above]];</li>
                                    <li>[using our platform contact form];</li>
                                    <li>[by telephone, on [the contact number published on our platform from time to
                                        time]]; or</li>
                                    <li>[by email, using [the email address published on our platform from time to
                                        time]].</li>
                                </ol>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
