<app-header-inner></app-header-inner>
	<div class="office-address-area mt-40">
		<div class="container br-bottom pb-45">
			<div class="row">
				<div class="col-md-4">
					<div class="office-address">
						<h3>Address Lagos:</h3>
						<p>Suite 12C Chevron Drive, Lekki Penninsula II 106104, Ajah, Logos, Nigeria</p>
								</div>
				</div>
				<div class="col-md-4">
					<div class="office-address">
						<h3>Address Abuja:</h3>
						<p>NO.5B Prince & Princess, Drive 5, Close 7 Kaura, Garki Area, Abuja, Nigeria.</p>
							</div>
				</div>
				<div class="col-md-4">
					<div class="office-address">
						<h3>Address Kano:</h3>
						<p> NO.26 Nation Palaza, Audu Bako Way, Nasarawa GRA Kano, Kano, Nigeria.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--office-address-area end-->

	<!--contact-us-area start-->
	<div class="contact-area mt-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="customer-supporter">
						<h1>How can we help you?</h1>
						<div class="single-supporter mt-35">
							<div class="row">
								<div class="col-md-6">
									<img src="assets/images/admin.jpg" alt="" />
								</div>
								<div class="col-md-6">
									<div class="supporter-desc mt-sm-20">
										<h3>Support</h3>
										<p>Customer Relations</p>
										<p>Phone</p>
										<p>+234(8064160204)</p>
										<p>Email</p>
										<p>admin@herb.ng.com.ng</p>
									</div>
								</div>
							</div>
						</div>
						<div class="single-supporter mt-65">
							<div class="row">
								<div class="col-md-6">
									<img src="assets/images/support.png" alt="" />
								</div>
								<div class="col-md-6">
									<div class="supporter-desc mt-sm-20">
										<h3>herb.ng Team</h3>
										<p>Customer Support</p>
										<p>Phone</p>
										<p>+234(8064160204)</p>
										<p>Email</p>
										<p>support@herb.ng.com.ng</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="contact-form mt-sm-30">
						<form id="contactForm" data-toggle="validator" method="POST" action="assets/php/contact.php">
							<div class="row">
								<div class="col-sm-12">
									<input type="text" placeholder="Name" id="name" required data-error="NEW ERROR MESSAGE" />
								</div>
								<div class="col-sm-12 mt-30">
									<input type="text" placeholder="Email" id="email" />
								</div>
								<div class="col-sm-12 mt-30">
									<input type="text" placeholder="Subject" id="subject" />
								</div>
								<div class="col-sm-12 mt-30">
									<textarea placeholder="Message" id="message"></textarea>
								</div>
								<div class="col-sm-12 mt-40">
									<button class="btn-common" id="form-submit">Send message</button>
								</div>
								<div class="col-sm-8 text-left pt-30">
									<div id="msgSubmit" class="hidden"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--contact-us-area end-->

<app-footer></app-footer>
