<app-header></app-header>
<div class="sign-conatiner input-container" data-aos="fade-up">
    <h2 class="title">Reset your Password</h2>
    <form name="form" method="POST">
        <div class="row">
            <div class="col-md-12 mt-30">
                <input type="text" class="tf-shopExpress" placeholder="Email or Mobile Number" name="username" required="true"
                    (keyup)="form.validate($event)" />
            </div>
        </div>
        <div class="fill mt-30">
            <button type="button" class="btn btn-shopExpress fill" (click)="verifyAccount()">Verify Account</button>
        </div>

    </form>
    <div class="footer row">
        <div class="col-md-8 left mt-30">
            Don't have an Account? <a [routerLink]="[ '/signup']">Register</a>
        </div>
        <div class="col-md-4 right mt-30">
            <a [routerLink]="[ '/login']" class="dark-color'">Remember Password?</a>
        </div>

    </div>
</div>
<app-footer></app-footer>
