.options-form {
  position: relative;
  height: auto;
  width: 100%;
  margin-left: -30px;
}

.quantity-field {
  min-width: 115px;
  padding-right: 10px;
  background: #fe4747;
  color: white;
  border-radius: 5px;
}
.option-dropdown {
  width: 100%;
  min-width: 115px;
  height: auto;
  outline: none !important;
  border: 1px solid #dadada;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.18);
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.18);
  display: none;
  border-radius: 2px;
  font-size: 16px;
  color: #333;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.option-dropdown .btn-option {
  font-size: 16px;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}
.option-dropdown .btn-option:hover,
.option-dropdown .btn-option:focus,
.option-dropdown .btn-option.active {
  color: #3fb06b;
  font-weight: bold;
  border-left: none;
  border-right: none;
}
.options-trigger {
  text-align: left;
  cursor: pointer;
  min-width: 115px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  background: #fe4747;
  color: white;
  border-radius: 5px;
}
.options-trigger span {
  font-size: 11px;
  position: absolute;
  right: -38px;
  top: 20px;
}

@media (max-width: 600px) {
  .options-form {
    margin: 0;
  }
  .options-trigger{
    right: -5px;
  }
}
