<app-header-inner></app-header-inner>
<!--product-details-area start-->
<div class="product-details-area">
  <div class="container p-5">
    <img src="assets/images/success.png" />
    <h2>Order Successful</h2>
    <p>Thanks for shopping with us, our delivery agent will contact you soon</p>

    <button [routerLink]="['/orders']"  type="button" class="btn btn-herb.ng outline mt-5">View Order Details &nbsp; <span class="fa fa-chevron-right"></span></button>
  </div>
</div>
<app-footer></app-footer>
