<app-header-inner></app-header-inner>
<!--about-area start-->
<div class="about-area mt-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 logo-wrapper">
        <img class="img-100p" src="assets/images/logoBlack.png" alt="" />
        <img src="assets/images/amazon.png" class="powerLogo">
      </div>
      <div class="col-lg-6 mt-sm-30">
        <div id="accordion">
          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingOne">
              <h5 class="mb-0">
                <a href="#collapseOne" class="btn btn-link" data-toggle="collapse" aria-expanded="true"
                  aria-controls="collapseOne">
                  About Us.
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p>
                  ShopExpress with a motto as (<strong>Shop Now, Get Now</strong>) is the first growing online
                  shopping platform in
                  Northern Nigeria Powered by <strong>Amazon</strong>, well known for quick delivery, it is available on the web and
                  mobile devices.
                  Initially launched as Herb.ng for trading only natural products (oil, cream, etc), it evolved to
                  encompass other
                  commodities due to the rising demands by our esteemed users that appreciate the efficacy of our
                  platform. Hence, it was
                  rebranded as ShopExpress. It is constantly growing as the primary avenue for online purchases among
                  Nigerians with
                  each passing day.
                </p>
              </div>
            </div>
          </div>
          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingTwo">
              <h5 class="mb-0">
                <a href="#collapseTwo" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Why Us
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>
                  The prestigious platform was found on transparent principles in order to overcome the challenges
                  buyers and sellers face from other online shopping mediums. The problems range from high cost of
                  products and outrageous delivery fees to payment processing failures by servers. Our team of experts
                  has ensured that not only are these problems and their ilk prevented, shopping is also made faster and
                  exhilarating than ever. Moreover, the buyer gets quality products for a small fee while the seller
                  gains huge profits without us charging him/her excessively. We put your interests before ours…
                </p>
              </div>
            </div>
          </div>
          <div class="card single-faq">
            <div class="card-header faq-heading" id="headingThree">
              <h5 class="mb-0">
                <a href="#collapseThree" class="btn btn-link" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  Our Services.
                  <i class="fa fa-plus-circle pull-right"></i>
                  <i class="fa fa-minus-circle pull-right"></i>
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <p>Instead of waiting for weeks, months, or even years for your orders to arrive from China, we save you the trouble by
                going through the hassle of acquiring the products and selling them for a similar price with minor profit. Furthermore,
                others are welcomed to sell their valued products on our platform, we take care of the delivery swiftly and we ensure
                the prices are not exorbitant. Our services are cheaply affordable and extraordinarily adept.</p>
              </div>
            </div>
          </div>
        </div>
          <div class="widget card mt-5 p-3">
            <h2>What we are?</h2>
            <p>We are geared towards easing online marketing by enhancing the virtual experience using
              groundbreaking technologies, making it as realistic as possible.</p>
          </div>
      </div>

    </div>
  </div>
</div>
<!--about-area end-->
<app-footer></app-footer>
