@media (max-width: 2024px) {
  .product-thumb{
    height: 160px;
  }
}
@media (min-width: 2024px) {
  .product-thumb{
    height: 280px;
  }
}
@media (max-width: 768px) {
  .product-thumb{
    height: 130px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .product-thumb{
    height: 280px;
  }
}
